<div class="card">
  <div class="sidebar admin-menu-left cutm_sidebar">
      <div class="top-row pl-4 navbar navbar-dark">
          <a class="navbar-brand" routerLink="/companyadmin/customcourses" >Custom Courses</a>
          <button class="navbar-toggler">
              <span class="navbar-toggler-icon"></span>
          </button>
      </div>
      <div>
          <ul class="nav flex-column admin dashboard">
              <!-- <AuthorizeView Roles="Admin"> -->
                <li class="nav-item" [ngClass]="{'active-side-option': '/companyadmin/customcourses' == checkClass()}">
                  <a class="nav-link" routerLink="/companyadmin/customcourses">
                      <i class="fa fa-list-alt" aria-hidden="true"></i> {{'Coursess'|translate}}
                  </a>
              </li>
<!--              <li class="nav-item"  [ngClass]="{'active-side-option': '/companyadmin/customTest' == checkClass()}">-->
<!--                  <a class="nav-link" routerLink="/companyadmin/customTest">-->
<!--                      <i class="fa fa-tasks" aria-hidden="true"></i>-->
<!--                      {{'Tests'|translate}}-->
<!--                  </a>-->
<!--              </li>-->
              <!-- <li class="nav-item">
                  <a class="nav-link" routerLink="/companyadmin/TestQuestions">
                      <i class="fa fa-list-ul"
                          aria-hidden="true"></i>{{'TestQuestions'|translate}}
                  </a>
              </li> -->

              <!-- <li class="nav-item">
                  <a class="nav-link" routerLink="/companyadmin/TestQuestionsAnswers">
                      <i class="fa fa-window-maximize"
                          aria-hidden="true"></i>Test Question Answers
                  </a>
              </li> -->
              <li class="nav-item">
                  <a class="nav-link" (click)="openModal()" >
                      <i class="fa fa-share-alt"
                          aria-hidden="true"></i>Share Courses
                  </a>
              </li>
              <li class="nav-item" [ngClass]="{'active-side-option': '/companyadmin/customcertificate' == checkClass()}">
                  <a class="nav-link" routerLink="/companyadmin/customcertificate">
                      <i class="fa fa-certificate"
                          aria-hidden="true"></i>Custom Certificate Creator
                  </a>
              </li>

              <!-- </AuthorizeView> -->
          </ul>
      </div>
  </div>
</div>
