<div class="modal_custm shopping_modal">
  <h1 mat-dialog-title style="color: #fa8060">
    <i class="fa fa-shopping-cart ms-0 me-2"></i
    >{{ "ShoppingCart" | translate }}
  </h1>
  <i
    class="far fa-times-circle cross_far"
    aria-hidden="true"
    (click)="onCancel()"
  ></i>
  <div class="">
    <div class="inner-box shopping-cart">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">{{ "Description" | translate }}</th>
            <th scope="col">{{ "Quantity" | translate }}</th>
            <th scope="col" class="w_100">{{ "UnitPrice" | translate }}</th>
            <th scope="col" class="w_88">{{ "TotalPrice" | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="!flagCustom && flagSpanish">
            <td scope="row">
              <span class="blue">{{ "Training" | translate }}</span>
              {{ "Software" | translate }}, MyEX {{ "Courses" | translate }},
              {{ "Plus" | translate }} {{ "SpanishCourses" | translate }}
            </td>
            <td>
              <input
                *ngIf="activeLicences == 0"
                class="form-control"
                matInput
                #Aerospace
                type="number"
                min="10"
                value="10"
                style="width: 87px"
                (change)="PurchaseLicenseValueChange(Aerospace.value)"
              />
              <input
                *ngIf="activeLicences != 0"
                class="form-control"
                matInput
                #Aerospace
                type="number"
                min="0"
                style="width: 87px"
                (change)="PurchaseLicenseValueChange(Aerospace.value)"
              />
            </td>
            <td>
              <b>${{ data.MyExCoursesAlternative }}</b>
            </td>
            <td>
              <b>${{ showPriceWithOutSpanish }}</b>
            </td>
          </tr>
          <!-- without spanish  -->
          <tr *ngIf="flagCustom && !flagSpanish">
            <td scope="row">
              <span class="blue">{{ "Training" | translate }}</span>
              {{ "Software" | translate }}, {{ "Plus" | translate }}
              {{ "CustomCoursesCreator" | translate }} ({{
                "withoutSpanish" | translate
              }})
            </td>
            <td>
              <input
                matInput
                type="number"
                #MyEX
                class="form-control"
                min="0"
                style="width: 87px"
                (change)="
                  PurchaseLicenseValueChangeWithType(
                    MyEX.value,
                    'withoutSpanish'
                  )
                "
              />
            </td>
            <td>
              <b>${{ data.MyExCoursesWithoutSpanish }}</b>
            </td>
            <td>
              <b>${{ showPriceWithSpanish }}</b>
            </td>
          </tr>
          <!-- spanish ends -->
          <tr *ngIf="flagCustom && flagSpanish">
            <td scope="row">
              <span class="blue"> {{ "Training" | translate }}</span>
              {{ "Software" | translate }}, MyEX {{ "Courses" | translate }},
              {{ "Plus" | translate }} {{ "CustomCoursesCreator" | translate }},
              {{ "and" | translate }} {{ "SpanishCourses" | translate }}
            </td>
            <td>
              <input
                matInput
                type="number"
                #MyEX
                class="form-control"
                min="0"
                style="width: 87px"
                (change)="
                  PurchaseLicenseValueChangeWithType(MyEX.value, 'Custom')
                "
              />
            </td>
            <td>
              <b>${{ data?.CustomCoursesAndSoftwarePricePerUser }}</b>
            </td>
            <td>
              <b>${{ customCoursePrice }}</b>
            </td>
          </tr>
          <tr *ngIf="!flagCustom">
            <td scope="row">{{ "CustomCoursesCreator" | translate }}</td>
            <td>
              <input
                type="checkbox"
                Class="shopping-check"
                [(ngModel)]="data.openShoppingModalToggle"
                [checked]="data.openShoppingModalToggle"
                (change)="CustomCourseCheckboxValueChange($event)"
              />
            </td>
            <td>
              <b>${{ CustomCoursesCreatorPrice }}</b>
            </td>
            <td>
              <b>${{ CustomCoursesCreatorPrice }}</b>
            </td>
          </tr>
          <tr *ngIf="!flagSpanish">
            <td scope="row">{{ "SpanishLanguage" | translate }}</td>
            <td>
              <input
                type="checkbox"
                Class="shopping-check"
                [(ngModel)]="data.purchasedSpanishCardToggele"
                [checked]="data.purchasedSpanishCardToggele"
                (change)="spanishCoursePriceEvaluate($event)"
              />
            </td>
            <td>
              <b>${{ spanishLanguagePrice }}</b>
            </td>
            <td>
              <b>${{ spanishLanguagePrice }}</b>
            </td>
          </tr>
          <tr *ngIf="!data.PurchasedCalibration">
            <td scope="row">
              <span class="blue">{{ "Calibration" | translate }} Professional</span>
            </td>
            <td>
              <input
                type="checkbox"
                Class="shopping-check"
                [checked]="gaugeProCheck"
                (change)="GaugeProValueChange($event)"
              />
            </td>
            <td>
              <b>${{ data.GaugeProPrice }}</b>
            </td>
            <td *ngIf="gaugeProCheck">
              <b>${{ data.GaugeProPrice }}</b>
            </td>
            <td *ngIf="!gaugeProCheck"><b>$0</b></td>
          </tr>
          <!-- purchased calibration enterprise   {{'GaugePro'|translate}} -->
          <tr *ngIf="!data.PurchasedCalibrationEnterprise">
            <td scope="row">
              <span class="blue">Calibration Enterprise</span>
            </td>
            <td>
              <input
                type="checkbox"
                Class="shopping-check"
                [checked]="calibrationEnterpriseCheck"
                (change)="CalibrationEnterPriseValueChange($event)"
              />
            </td>
            <td>
              <b>${{ data.CalibrationEnterPrise }}</b>
            </td>
            <td *ngIf="calibrationEnterpriseCheck">
              <b>${{ data.CalibrationEnterPrise }}</b>
            </td>
            <td *ngIf="!calibrationEnterpriseCheck"><b>$0</b></td>
          </tr>
          <!-- <tr *ngIf="!data.PurchasedSupplierPro" >
                        <td scope="row"><span class="blue">{{'SupplierManagement'|translate}} </span> {{'SupplierPro'|translate}}</td>
                        <td>
                            <input type="checkbox" Class="shopping-check" (change)="supplierProValuechange($event)">
                        </td>
                        <td><b>${{data.SupplierProPrice}}</b></td>
                        <td *ngIf="supplierProCheck"><b>${{data.SupplierProPrice}}</b></td>
                        <td *ngIf="!supplierProCheck"><b>$0</b></td>
                    </tr> -->
          <tr>
            <td scope="row">
              <span class="blue">{{ "Support" | translate }}</span
              >{{ "UnlimitedTechnicalSupport" | translate }}
            </td>
            <td>
              <input type="checkbox" checked disabled Class="shopping-check" />
            </td>
            <td><b>Free</b></td>
            <td><b>Free</b></td>
          </tr>
        </tbody>
      </table>
    </div>
    <span class="d-flex total justify-content-end">
      <h4 class="col-md-2 text-start w_100">
        {{ "Subtotal" | translate }}(USD)
      </h4>
      <h4 class="col-md-3 text-start w_88">${{ TotalCheckoutPrice }}</h4>
    </span>
    <input
      type="button"
      (click)="checkout()"
      class="btn checkout col-md-12 my-3"
      value="{{ 'Checkout' | translate }}"
    />
  </div>
</div>
