<div class="container">
  <div class="row gap_10">
    <div class="col-md-4 col-xl-3">
      <app-side-bar></app-side-bar>
    </div>
    <div class="col-md-8 col-xl-9">
      <div class="card padd_15">
        <div class="form-row m-0">
          <!-- <h4 class="card-title red-color empty-space">{{'Users'|translate}}</h4> -->
        </div>
        <div class="d-flex mb_15">
          <button type="button" class="block custmBtns" (click)="openModal()">
            <i class="fa fa-plus" aria-hidden="true"></i>
            {{ "Add" | translate }}</button
          >&nbsp;&nbsp;
          <button
            type="button"
            class="block file_icon custmBtns"
            (click)="exportToExcel()"
          >
            <span class="fa fa-file-excel-o"></span>{{ "Export" | translate }}
            {{ "To" | translate }} {{ "Excel" | translate }}
          </button>
        </div>
        <div class="table-responsive">
          <table mat-table [dataSource]="dataSource" class="table_custom_div">
            <!-- FullName Column -->
            <ng-container matColumnDef="FullName">
              <th mat-header-cell *matHeaderCellDef class="course_col_th">
                {{ "FullName" | translate }}
                <mat-form-field
                  class="filter mt-3 filter_search_bx filter_search_bx"
                  floatLabel="never"
                  (click)="$event.stopPropagation()"
                >
                  <mat-label>{{ "Search" | translate }}</mat-label>
                  <input
                    matInput
                    #FullName
                    (keyup.enter)="pageIndex = 0; GetAllUsers()"
                    (change)="onChange('FullName', FullName.value)"
                  />
                </mat-form-field>
              </th>
              <td mat-cell *matCellDef="let element">{{ element.FullName }}</td>
            </ng-container>

            <!-- Company Column -->
            <ng-container matColumnDef="Company">
              <th mat-header-cell *matHeaderCellDef class="course_col_th">
                {{ "Company" | translate }}
                <mat-form-field
                  class="filter mt-3 filter_search_bx filter_search_bx"
                  floatLabel="never"
                  (click)="$event.stopPropagation()"
                >
                  <mat-label>{{ "Search" | translate }}</mat-label>
                  <input
                    matInput
                    #Company
                    (keyup.enter)="pageIndex = 0; GetAllUsers()"
                    (change)="onChange('Company', Company.value)"
                  />
                </mat-form-field>
              </th>
              <td mat-cell *matCellDef="let element">
                <div class="row">
                  <div class="col-2">
                    <i class="fas fa-file-export backdoor-icon" aria-hidden="true"
                    (click)="impersonate(element)" ></i>
                    <!-- <i class="fas fa-file-export backdoor-icon" aria-hidden="true" ></i> -->
                  </div>
                  <div class="col-10">
                    {{ element.Company }}
                  </div>
                </div>
              </td>
            </ng-container>
            <!-- Email Column -->
            <ng-container matColumnDef="Email">
              <th mat-header-cell *matHeaderCellDef class="course_col_th">
                {{ "Email" | translate }}
                <mat-form-field
                  class="filter mt-3 filter_search_bx filter_search_bx"
                  floatLabel="never"
                  (click)="$event.stopPropagation()"
                >
                  <mat-label>{{ "Search" | translate }}</mat-label>
                  <input
                    matInput
                    #Email
                    (keyup.enter)="pageIndex = 0; GetAllUsers()"
                    (change)="onChange('Email', Email.value)"
                  />
                </mat-form-field>
              </th>
              <td mat-cell *matCellDef="let element">{{ element.Email }}</td>
            </ng-container>
            <!-- User Status Column -->
            <ng-container matColumnDef="UserStatus">
              <th mat-header-cell *matHeaderCellDef class="course_col_th">
                {{ "Status" | translate }}
                <mat-form-field
                  class="filter mt-3 filter_search_bx filter_search_bx"
                  floatLabel="never"
                  (click)="$event.stopPropagation()"
                >
                  <mat-label>{{ "All" | translate }}</mat-label>
                  <mat-select [(ngModel)]="usersActive"
                      (ngModelChange)="onChange('UserStatus','UserStatus');GetAllUsers()">
                      <mat-option [value]="''">{{'All'|translate}}</mat-option>

                      <mat-option [value]="'Active'">{{'Active'|translate}}</mat-option>
                      <mat-option [value]="'Inactive'">{{'Inactive'|translate}}</mat-option>
                      <mat-option [value]="'Invited'">{{'Invited'|translate}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </th>
              <td mat-cell *matCellDef="let element">{{ element.UserStatus }}</td>
            </ng-container>
            <!-- City Column -->
            <ng-container matColumnDef="City">
              <th mat-header-cell *matHeaderCellDef class="course_col_th">
                {{ "City" | translate }}
                <mat-form-field
                  class="filter mt-3 filter_search_bx filter_search_bx"
                  floatLabel="never"
                  (click)="$event.stopPropagation()"
                >
                  <mat-label>{{ "Search" | translate }}</mat-label>
                  <input
                    matInput
                    #City
                    (keyup.enter)="pageIndex = 0; GetAllUsers()"
                    (change)="onChange('City', City.value)"
                  />
                </mat-form-field>
              </th>
              <td mat-cell *matCellDef="let element">{{ element.City }}</td>
            </ng-container>
            <!-- isEligibleForAMT Column -->
            <!-- <ng-container matColumnDef="isEligibleForAMT">
                            <th mat-header-cell *matHeaderCellDef> Is Eligible For AMT
                                <mat-form-field class="filter" floatLabel="never"  (click)="$event.stopPropagation()" >
                                    <mat-label>{{'Search'|translate}}</mat-label>
                                    <input matInput  (change)="onChange('isEligibleForAMT')"  >
                                  </mat-form-field>
                            </th>
                            <td mat-cell *matCellDef="let element"> {{element.isEligibleForAMT}} </td>
                        </ng-container> -->

            <!-- Licence Column -->
            <ng-container matColumnDef="Licence">
              <th mat-header-cell *matHeaderCellDef class="mt-3 course_col_th">
                {{ "Licence" | translate }} (Qty)
                <mat-form-field
                  style="visibility: hidden"
                  class="filter mt-3 filter_search_bx filter_search_bx"
                  floatLabel="never"
                  (click)="$event.stopPropagation()"
                >
                  <mat-label>{{ "Search" | translate }}</mat-label>
                  <input
                    matInput
                    #Role
                    (keyup.enter)="pageIndex = 0; GetAllUsers()"
                    (change)="onChange('Role', Role.value)"
                  />
                </mat-form-field>
              </th>
              <td mat-cell *matCellDef="let element">{{ element.Licence }}</td>
            </ng-container>
            <!-- PhoneNumber Column -->
            <ng-container matColumnDef="PhoneNumber">
              <th mat-header-cell *matHeaderCellDef class="course_col_th">
                {{ "PhoneNumber" | translate }}
                <mat-form-field
                  class="filter mt-3 filter_search_bx filter_search_bx"
                  floatLabel="never"
                  (click)="$event.stopPropagation()"
                >
                  <mat-label>{{ "Search" | translate }}</mat-label>
                  <input
                    matInput
                    #PhoneNumber
                    (keyup.enter)="pageIndex = 0; GetAllUsers()"
                    (change)="
                      onChange('PhoneNumber', PhoneNumber.value)
                    "
                  />
                </mat-form-field>
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.PhoneNumber }}
              </td>
            </ng-container>
            <!-- Role Column -->
            <ng-container matColumnDef="Role">
              <th mat-header-cell *matHeaderCellDef class="course_col_th">
                {{ "Role" | translate }}
                <mat-form-field
                  class="filter mt-3 filter_search_bx filter_search_bx"
                  floatLabel="never"
                  (click)="$event.stopPropagation()"
                >
                  <mat-label>{{ "Search" | translate }}</mat-label>
                  <input
                    matInput
                    #Role
                    (keyup.enter)="pageIndex = 0; GetAllUsers()"
                    (change)="onChange('Role', Role.value)"
                  />
                </mat-form-field>
              </th>
              <td mat-cell *matCellDef="let element">{{ element.Role }}</td>
            </ng-container>
            <!-- State Column -->
            <ng-container matColumnDef="State">
              <th mat-header-cell *matHeaderCellDef class="course_col_th">
                State
                <mat-form-field
                  class="filter mt-3 filter_search_bx filter_search_bx"
                  floatLabel="never"
                  (click)="$event.stopPropagation()"
                >
                  <mat-label>{{ "Search" | translate }}</mat-label>
                  <input
                    matInput
                    #State
                    (keyup.enter)="pageIndex = 0; GetAllUsers()"
                    (change)="onChange('State', State.value)"
                  />
                </mat-form-field>
              </th>
              <td mat-cell *matCellDef="let element">{{ element.State }}</td>
            </ng-container>
            <!-- Street Column -->
            <ng-container matColumnDef="Street">
              <th mat-header-cell *matHeaderCellDef class="course_col_th">
                {{ "Street" | translate }}
                <mat-form-field
                  class="filter mt-3 filter_search_bx filter_search_bx"
                  floatLabel="never"
                  (click)="$event.stopPropagation()"
                >
                  <mat-label>{{ "Search" | translate }}</mat-label>
                  <input
                    matInput
                    #Street
                    (keyup.enter)="pageIndex = 0; GetAllUsers()"
                    (change)="onChange('Street', Street.value)"
                  />
                </mat-form-field>
              </th>
              <td mat-cell *matCellDef="let element">{{ element.Street }}</td>
            </ng-container>
            <!-- SubscriptionDueDate Column -->
            <ng-container matColumnDef="SubscriptionDueDate">
              <th mat-header-cell *matHeaderCellDef class="course_col_th">
                {{ "SubscriptionDueDate" | translate }}
                <mat-form-field
                  class="filter mt-3 filter_search_bx filter_search_bx"
                  floatLabel="never"
                  (click)="$event.stopPropagation()"
                >
                  <mat-label>{{ "Search" | translate }}</mat-label>
                  <input
                    type="date"
                    matInput
                    #SubscriptionDueDate
                    (keyup.enter)="pageIndex = 0; GetAllUsers()"
                    (change)="
                      onChange(
                        'SubscriptionDueDate',
                        SubscriptionDueDate.value
                      )
                    "
                  />
                </mat-form-field>
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.SubscriptionDueDate | date: "MM/dd/yyyy" }}
              </td>
            </ng-container>
            <!-- Title Column -->
            <ng-container matColumnDef="Title">
              <th mat-header-cell *matHeaderCellDef class="course_col_th">
                {{ "Title" | translate }}
                <mat-form-field
                  class="filter mt-3 filter_search_bx filter_search_bx"
                  floatLabel="never"
                  (click)="$event.stopPropagation()"
                >
                  <mat-label>{{ "Search" | translate }}</mat-label>
                  <input
                    matInput
                    #Title
                    (keyup.enter)="pageIndex = 0; GetAllUsers()"
                    (change)="onChange('Title', Title.value)"
                  />
                </mat-form-field>
              </th>
              <td mat-cell *matCellDef="let element">{{ element.Title }}</td>
            </ng-container>
            <!-- ZipCode Column -->
            <ng-container matColumnDef="ZipCode">
              <th mat-header-cell *matHeaderCellDef class="course_col_th">
                {{ "ZipCode" | translate }}
                <mat-form-field
                  class="filter mt-3 filter_search_bx filter_search_bx"
                  floatLabel="never"
                  (click)="$event.stopPropagation()"
                >
                  <mat-label>{{ "Search" | translate }}</mat-label>
                  <input
                    matInput
                    #ZipCode
                    (keyup.enter)="pageIndex = 0; GetAllUsers()"
                    (change)="onChange('ZipCode', ZipCode.value)"
                  />
                </mat-form-field>
              </th>
              <td mat-cell *matCellDef="let element">{{ element.ZipCode }}</td>
            </ng-container>

            <!-- Company Column -->
            <ng-container matColumnDef="edit">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element">
                <div class="action_btns">
                  <button
                    type="button"
                    (click)="EditUser(element)"
                    class="block"
                  >
                    <i class="fa fa-pencil" aria-hidden="true"></i> Edit
                  </button>
                  <button
                    type="button"
                    (click)="UpdatePassword(element)"
                    class="block text-nowrap"
                  >
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                    {{ "Updatepassword" | translate }}
                  </button>
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>
        <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                    aria-label="Select page of periodic elements">
                </mat-paginator> -->

        <mat-paginator
          #paginator
          [length]="length"
          [pageIndex]="pageIndex"
          [pageSize]="pageSize"
          [pageSizeOptions]="paginationArray"
          (page)="getServerData($event)"
          showFirstLastButtons
        ></mat-paginator>
      </div>
    </div>
  </div>
</div>
