<div class="card Credential-pannel">
  <div class="card-body">
    <div class="row align-items-center mt-2 box_shdownone">
      <div class="col-md-12">
        <div style="float:left">
          <h4 class="card-title red-color">{{'Credentials'|translate}}</h4>
        </div>
      </div>
      <div class="col-md-12 credential-filters">
        <div class="row margin5 justify-content-end align-items-center">
          <div class="col-lg-3 col-md-6">
            <mat-form-field appearance="fill">
              <mat-label>{{'Type'|translate}}</mat-label>
              <mat-select matInput placeholder="{{'Type'|translate}}" [(ngModel)]="typeId"
                (ngModelChange)="userCredentialsPageIndex=0;GetUserCredentials()">
                <mat-option [value]="0">{{'All'|translate}}</mat-option>
                <mat-option *ngFor="let data of CredentialTypeSelectList" [value]="data.value">
                  {{data.text}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-lg-3 col-md-6 credential-filters">
            <mat-form-field appearance="fill">
              <mat-label>Document</mat-label>
              <input class="form-control" placeholder="Document"
                (change)="userCredentialsPageIndex=0;GetUserCredentials()" [(ngModel)]="document" type="text"
                matInput />
            </mat-form-field>
          </div>
          <div class="col-lg-4 col-md-6 credential-filters">
            <mat-form-field appearance="fill">
              <mat-label>Enter a date range</mat-label>
              <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                <input matStartDate formControlName="start" placeholder="Start date"
                  (dateChange)="addEvent('change', $event)">
                <input matEndDate formControlName="end" (dateInput)="addEvent('input', $event)"
                  (dateChange)="addEvent('change', $event)" placeholder="End date">
              </mat-date-range-input>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>

              <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">
                Invalid
                start date</mat-error>
              <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid
                end
                date</mat-error>
            </mat-form-field>
          </div>

          <div class="col-lg-2 col-md-6" >
            <mat-form-field appearance="fill">
              <mat-label>{{'Status'|translate}}</mat-label>
              <mat-select [(ngModel)]="customCoursesActive" (ngModelChange)="userCredentialsPageIndex=0;GetUserCredentials()">
                <mat-option [value]="true">{{'Active'|translate}}</mat-option>
                <mat-option [value]="false">{{'InActive'|translate}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-md-2 d-flex justify-content-end">
            <div class="course-edit">
              <button class="cred-right k-button telerik-blazor k-button-icon filePdf_icons" tabindex="0"
                (click)='downloadamtawardsreport()' aria-disabled="false" type="submit">
                <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
              </button>
            </div>
            <div class="course-edit">
              <button class="cred-right k-button telerik-blazor k-button-icon plus_icons" (click)="openModal()"
                tabindex="0" aria-disabled="false" type="submit">
                <i class="far fa-plus-circle" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="table-responsive crud">
          <table mat-table [dataSource]="credentialsDataSource" style="width: 100%;" matSort
            (matSortChange)="userCredentialsSortChange($event)">

            <!-- Name Column -->
            <ng-container matColumnDef="credentialType">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
              <td mat-cell *matCellDef="let element"> {{element.credentialType}} </td>
            </ng-container>

            <!-- Document Column -->
            <ng-container matColumnDef="document">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Document </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
              <td mat-cell *matCellDef="let element">{{element.date | date: 'MM/dd/yyyy'}} </td>
            </ng-container>
            <ng-container matColumnDef="credentialTypeID">
              <th mat-header-cell *matHeaderCellDef> </th>
              <td mat-cell *matCellDef="let element">
                <span *ngIf="!activateAfterData" class="crud-icon">
                  <button class="cred-right k-button telerik-blazor k-button-icon crud" tabindex="0"
                    aria-disabled="false" type="submit">
                    <span><i class="fa fa-trash" aria-hidden="true"
                        (click)="deleteCompanyCourses(element.credentialID,'delete')"></i></span>
                  </button>
                  <button class="cred-right k-button telerik-blazor k-button-icon crud" (click)="download(element)"
                    tabindex="0" aria-disabled="false" type="submit">
                    <span><i class="fa fa-file-pdf-o" aria-hidden="true"></i></span>
                  </button>
                  <button class="cred-right k-button telerik-blazor k-button-icon crud" (click)="edit(element)"
                    tabindex="0" aria-disabled="false" type="submit">
                    <span><i class="fa fa-edit" aria-hidden="true"></i></span>
                  </button>
                </span>
                <span *ngIf="activateAfterData">
                  <button class="cred-right k-button telerik-blazor k-button-icon crud" tabindex="0"
                    aria-disabled="false" type="submit">
                    <i class="fa fa-check" (click)="deleteCompanyCourses(element.credentialID,'restore')"
                      aria-hidden="true"></i>
                  </button>
                </span>

              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnsToDisplayCredentials"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsToDisplayCredentials;"></tr>
          </table>
          <mat-paginator #matPaginatorUserCredentials [length]="userCredentialsCount"
            [pageIndex]="userCredentialsPageIndex" [pageSize]="userCredentialsPageSize"
            [pageSizeOptions]="[10, 25, 50,100]" (page)="GetUserCredentialsServerData($event)" showFirstLastButtons>
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>