<div class="login-bg-main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center">
                <a class="navbar-brand" href="/">
                <img src="../../../../assets/images/myfa.png" style="cursor:pointer">
                </a>
            </div>
        </div>
        <h1>Reset password confirmation</h1>
        <h2>
            Your password has been reset. Please <a href="/login">click here to log in</a>.
        </h2>
    </div>
</div>
