.block{
    background-color: #FA8060;
    width: 140px;border: none; 
    border-radius: 0.25rem; 
    color: #ffff;
    padding: 0.375rem 0.75rem; 
    margin-bottom: 5px; 
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    border-width: 1px;
}