<div class="container">

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="card emp-test">
                <div class="card-body">
                    <ng-container *ngIf="values && values.courseModel">
                        <h4 class="l-space"><i class="fa fa-file-certificate"></i> {{values.courseModel.name[lang]}}</h4>
                    </ng-container>

                    <ng-container
                        *ngIf=" values && values.testQuestionModelList && values.testQuestionModelList.length > 0">
                        <!-- {{values.testQuestionModel}} {{values.testQuestionModel.testQuestionID}} -->
                        <!-- <ng-container *ngIf="(values.testQuestionModel && values.testQuestionModel.testQuestionID) "> -->
                          <div class="px-3">
                        <div class="row l-space">
                            <div class="col-md-12 icon-position mb-2">
                                <button *ngIf="i == 0" class="back-btn"><i class="fa fa-arrow-left"
                                        aria-hidden="true"></i>
                                </button>
                                <button *ngIf="i !== 0" class="back-btn" (click)="prevItem()"><i
                                        class="fa fa-arrow-left" aria-hidden="true"></i>
                                </button>
                                <label><b class="total-ques">{{'Question'|translate}} {{i + 1}} {{'of'|translate}}
                                        {{values.testQuestionModelList.length}} </b></label>
                            </div>
                            <div class="col-md-12">
                                <div class="progress">
                                    <!-- <div id="progressBar_1" class="normal-bar progress-bar" role="progressbar"
                                        style="width: 10%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                    </div> -->

                                    <ng-container
                                        *ngIf="values.testQuestionModelList && values.testQuestionModelList.length > 0">
                                        <ng-container *ngFor="let item of values.testQuestionModelList; let int=index">
                                            <div id="progressBar_2" class="normal-bar "
                                                [ngClass]="i >= int?'progress-bar':'normal-bar'" role="progressbar"
                                                style="width: 10%" aria-valuenow="25" aria-valuemin="0"
                                                aria-valuemax="100"></div>
                                        </ng-container>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 ques l-space">
                                <label style="width:85%;" *ngIf="getTheFirstQuestion" class="text-justify"><b>{{i + 1}}
                                    </b> {{getTheFirstQuestion?.question[lang]}}</label>
                            </div>
                        </div>


                        <ng-container *ngFor="let testQuestionAnswer of presentTestAnswers; let i=index">
                            <ng-container *ngIf="testQuestionAnswer  && testQuestionAnswer.testQuestionAnswerID ">
                                <div class="radio-btns l-space">
                                    <label>
                                        <input type="radio"
                                            id="radioBtnOption{{testQuestionAnswer.testQuestionAnswerID}}{{testQuestionAnswer.testQuestionID}}"
                                            value="{{testQuestionAnswer.testQuestionAnswerID}}"
                                            (change)="handleChange($event ,testQuestionAnswer)"
                                            [checked]="checked(testQuestionAnswer)">
                                    </label>
                                    <label>{{testQuestionAnswer.answer[lang]}}</label>
                                </div>
                            </ng-container>

                        </ng-container>

                        <!-- </ng-container> -->
                    </div>
                    </ng-container>


                </div>
                <div *ngIf="values && i !== (values.testQuestionModelList?.length -1)">
                  <button class="btn checkout checkout_buttons my-3 mb-0"
                      (click)="getNextQuestion()">{{'Continue'|translate}}</button>
              </div>

              <div *ngIf=" values && i == (values.testQuestionModelList?.length - 1)">
                  <button class="btn checkout checkout_buttons  my-3 mb-0"
                      (click)="submitTest()">{{'Finish'|translate}}</button>
              </div>
            </div>
        </div>
    </div>
</div>
