<div class="row admin-header">
    <div class="col-md-4 col-xl-2 mb-2 mb-md-0">
        <h2 style="cursor:pointer " routerLink="/companyadmin/main-page">
            <i class="fa fa-database" aria-hidden="true"></i> {{'Modules'|translate}}
        </h2>
    </div>
    <div class="col-md-8 col-xl-10">
        <div class="example-button-row">
            <button mat-button *ngIf="roleAdmin || roleRead">
                <a routerLink="/companyadmin/calibration-dashboard" class="nav-link" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:
                    true}">
                    <i class="fa fa-newspaper-o" aria-hidden="true"></i> <span class="example-button-row">
                        {{'Dashboard'|translate}}</span>
                </a> </button>
            <button mat-button>
                <a routerLink="/companyadmin/gauge-records" class="nav-link" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:
                        true}">
                    <img src="../../../../assets/images/gauge_icon.png" class="Gauges_icons" /><span
                        class="example-button-row"> {{'Gauges'|translate}}</span>
                </a> </button>
            <button mat-button color="primary" *ngIf="roleAdmin">
                <a routerLink="/companyadmin/CalibrationReportsSettings" class="nav-link" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:
                  true}">
                    <i class="far fa-cog" aria-hidden="true"> </i> <span class="example-button-row">
                        {{'ReportsandSettings'|translate}}</span>
                </a>
            </button>

        </div>
    </div>
</div>