h2.custom_heading {
    font-size: 36px;
    margin: 0 0 25px;
    color: #FA8060;
}

.course-link-column {
  width: 175px;
  max-width: 175px;
  word-wrap: break-word;
}

.course-title-column {
  width: 175px;
  max-width: 175px;
  word-wrap: break-word;
}
