<div class="newInvitePage">
  <div class="text-center logo_div">
    <img src="../../../../assets/images/myfa.png" class="c_pointer">
  </div>
  <div class="row justify-content-center">
    <div class="col-xl-10 col-lg-11">
      <div class="wht_bx">
        <div class="add-title">
          <h1 class="title_txt">
            <i class="far fa-user" aria-hidden="true"></i>{{'AddUser'|translate}}
          </h1>
        </div>
        <div class="angFormStyle remove_form_lab">
          <form (ngSubmit)="save()"  [formGroup]="EmpForm">
              <div class="row">
                <div class="col-md-6">
                  <label class="control-label">First Name</label>
                  <mat-form-field>
                    <input class="form-control" type="text"placeholder="{{'FirstName'|translate}}"  matInput formControlName="firstName" [ngClass]="{ 'is-invalid': f.firstName.touched && f.firstName.errors }" />
                        <mat-error *ngIf="f.firstName.touched && f.firstName.errors" class="invalid-feedback">
                            <div *ngIf="f.firstName.errors.required"> {{'FirstNameisrequired'|translate}}</div>
                        </mat-error>
                 </mat-form-field>
                </div>
                <div class="col-md-6">
                  <label class="control-label">Last Name</label>
                  <mat-form-field>
                    <input class="form-control" type="text"  placeholder="{{'LastName'|translate}}" matInput formControlName="lastName" [ngClass]="{ 'is-invalid': f.lastName.touched && f.lastName.errors }" />
                    <mat-error *ngIf="f.lastName.touched && f.lastName.errors" class="invalid-feedback">
                        <div *ngIf="f.lastName.errors.required"> {{'LastNameisrequired'|translate}}</div>
                    </mat-error>
                </mat-form-field>
                </div>
                <div class="col-md-6">
                  <label class="control-label">Email</label>
                  <div class="form-control email_bx">
                    <span>{{EmpForm.value.email}}</span><i class="fas fa-lock red-color"></i>
                  </div>

                </div>
                <div class="col-md-6">
                  <label class="control-label">Phone</label>
                  <mat-form-field>
                    <input class="form-control" type="text" placeholder="{{'PhoneNumber'|translate}}" matInput formControlName="phoneNumber" [ngClass]="{ 'is-invalid': f.phoneNumber.touched && f.phoneNumber.errors }" />
                    <mat-error *ngIf="f.phoneNumber.touched && f.phoneNumber.errors" class="invalid-feedback">
                        <div *ngIf="f.phoneNumber.errors.required"> {{'PhoneNumberisrequired'|translate}}</div>
                    </mat-error>
                </mat-form-field>
                </div>
                <div class="col-md-6">
                  <label class="control-label">Street</label>
                  <mat-form-field>
                    <input class="form-control" type="text"  placeholder="{{'Street'|translate}}"  matInput formControlName="street" [ngClass]="{ 'is-invalid': f.street.touched && f.street.errors }" />
                    <mat-error *ngIf="f.street.touched && f.street.errors" class="invalid-feedback">
                        <div *ngIf="f.street.errors.required"> {{'Streetisrequired'|translate}}</div>
                    </mat-error>
                </mat-form-field>
                </div>
                <div class="col-md-6">
                  <label class="control-label">City</label>
                  <mat-form-field>
                    <input class="form-control" type="text" placeholder="{{'City'|translate}}" matInput formControlName="city" [ngClass]="{ 'is-invalid': f.city.touched && f.city.errors }" />
                    <mat-error *ngIf="f.city.touched && f.city.errors" class="invalid-feedback">
                        <div *ngIf="f.city.errors.required">{{'Cityisrequired'|translate}}</div>
                    </mat-error>
                </mat-form-field>
                </div>
                <div class="col-md-6">
                  <label class="control-label">City</label>
                  <mat-form-field>
                         <input class="form-control" type="text"  placeholder="{{'State'|translate}}"  matInput formControlName="state" [ngClass]="{ 'is-invalid': f.state.touched && f.state.errors }" />
                         <mat-error *ngIf="f.state.touched && f.state.errors" class="invalid-feedback">
                             <div *ngIf="f.state.errors.required"> {{'Stateisrequired'|translate}}</div>
                         </mat-error>
                     </mat-form-field>
               </div>
                <div class="col-md-6">
                  <label class="control-label">Zip Code</label>
                  <mat-form-field>
                    <input class="form-control" type="text" placeholder="{{'ZipCode'|translate}}"   matInput formControlName="zipCode" [ngClass]="{ 'is-invalid': f.zipCode.touched && f.zipCode.errors }" />
                    <div *ngIf="f.zipCode.touched && f.zipCode.errors" class="invalid-feedback">
                        <div *ngIf="f.zipCode.errors.required"> {{'Zipcodeisrequired'|translate}}</div>
                    </div>
                </mat-form-field>
                </div>
      </div>
      <hr/>
        <div class="row">
              <div class="col-md-6">
                <label class="control-label">Title</label>
                <mat-form-field>
                  <input class="form-control" type="text"  matInput formControlName="title" placeholder="{{'Title'|translate}}" [ngClass]="{ 'is-invalid': f.title.touched && f.title.errors }" />
                        <mat-error *ngIf="f.title.touched && f.title.errors" class="invalid-feedback">
                            <div *ngIf="f.title.errors.required"> {{'Titleisrequired'|translate}}</div>
                        </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <label class="control-label">Supervisor’s Email</label>
                <mat-form-field>
                  <input class="form-control" type="text"  matInput formControlName="supervisorEmail" placeholder="Supervisor’s Email" [ngClass]="{ 'is-invalid': f.title.touched && f.title.errors }" />
                        <mat-error *ngIf="f.title.touched && f.title.errors" class="invalid-feedback">
                            <div *ngIf="f.title.errors.required"> {{'Titleisrequired'|translate}}</div>
                        </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <label class="control-label">Safety Sensitive </label>
                <mat-form-field>
                  <mat-label>Safety Sensitive</mat-label>
                  <mat-select [(value)]="selectedValue">
                    <mat-option value=1>YES</mat-option>
                    <mat-option value=0>NO</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <label class="control-label">Department(s)</label>
                <mat-form-field class="example-chip-list">
                  <mat-chip-list #chipList aria-label="Department(s)">
                      <mat-chip *ngFor="let fruit of fruits" [selectable]="selectable"
                          [removable]="removable" (removed)="remove(fruit)">
                          {{fruit}}
                          <mat-icon matChipRemove *ngIf="removable">{{'cancel'|translate}}
                          </mat-icon>
                      </mat-chip>
                      <input placeholder="Department(s)" #fruitInput
                          #autocompleteTrigger="matAutocompleteTrigger"
                          [formControl]="fruitCtrl" [matAutocomplete]="auto"
                          [matChipInputFor]="chipList"
                          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                          (matChipInputTokenEnd)="add($event)"
                          style="background-color: #f7f8f9 !important;">
                  </mat-chip-list>
                  <mat-autocomplete #auto="matAutocomplete"
                      (optionSelected)="selected($event)" autoActiveFirstOption>
                      <mat-option *ngFor="let fruit of filteredFruits | async"
                          [value]="fruit">
                          <mat-checkbox color="primary" style="padding: 0 12px;"
                              [checked]="fruits.indexOf(fruit) >= 0"></mat-checkbox>
                          {{fruit}}
                      </mat-option>
                  </mat-autocomplete>
                  <button mat-icon-button matSuffix style="width: 34px; height: 34px;"
                      (click)="openAuto(autocompleteTrigger)">
                      <mat-icon style="width: 34px;">expand_more</mat-icon>
                  </button>
              </mat-form-field>
              </div>
            </div>
            <hr/>
            <div class="row">
              <div class="col-md-6">
                <label class="control-label">Password</label>
                <mat-form-field>
                  <input class="form-control" type="password" placeholder="{{'Password'|translate}}"  matInput formControlName="password" [ngClass]="{ 'is-invalid': f.password.touched && f.password.errors }" />
                  <mat-error *ngIf="f.password.touched && f.password.errors" class="invalid-feedback">
                      <div *ngIf="f.password.errors.required">{{'Passwordisrequired'|translate}}</div>
                      <div *ngIf="f.password.errors.minlength">{{'Passwordmust'|translate}}</div>
                      <div *ngIf="f.password.errors.maxlength">{{'Passwordmust'|translate}}</div>
                      <div *ngIf="f.password.errors.pattern">{{'PasswordPattern'|translate}}</div>
                  </mat-error>
              </mat-form-field>
              </div>
              <div class="col-md-6">
                <label class="control-label">Confirm Password</label>
                <mat-form-field>
                  <input class="form-control" type="password" placeholder="{{'ConfirmPassword'|translate}}"  matInput formControlName="confirmPassword" [ngClass]="{ 'is-invalid': f.confirmPassword.touched && f.confirmPassword.errors }" />
                  <mat-error *ngIf="f.confirmPassword.touched && f.confirmPassword.errors" class="invalid-feedback">
                      <div *ngIf="f.confirmPassword.errors.required">{{'Passwordisrequired'|translate}}</div>
                      <div *ngIf="f.confirmPassword.errors.mustMatch">{{'Passwordsmustmatch'|translate}}</div>
                  </mat-error>
              </mat-form-field>
              </div>
              </div>
            <div class="form_btns">
                <button type="submit" class="btn">Create Account</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


</div>


