<div class="login-bg-main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center">
                <a class="navbar-brand" href="/">
                <img src="../../../../assets/images/myfa.png" style="cursor:pointer">
                </a>
            </div>
        </div>
        <div class="row quote-form">
            <div class="col-xl-4 col-lg-3 col-md-2"></div>
            <div class="col-xl-4 col-lg-6 col-md-8">
                <div class="card login-form">
                    <h1><i class="fa fa-key" aria-hidden="true"></i>&nbsp;Forgot Password?</h1>
                    <form class="form-signin" [formGroup]="forgotpassword" (ngSubmit)="submit()">

                        <div class="form-group row mobile_row_div">
                            <label for="Email" class="col-3 col-form-label">Email</label>
                            <div class="col-9">
                                <mat-form-field appearance="outline">
                                    <mat-label>Email</mat-label>
                                    <input matInput type="email" formControlName="email" id="email" required>
                                    <mat-error *ngIf="f.email.errors?.required">Email is required</mat-error>
                                    <mat-error *ngIf="f.email.errors?.pattern">This Email address is not a valid e-mail address.</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="error-bg text-center">
                            <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-xl-4 col-lg-3 col-md-2"></div>
        </div>
    </div>
</div>
