.card.login-form {
	padding: 10px 15px;
	margin-top: 60px;
}
.card {
	border: none !important;
	box-shadow: 0px 3px 6px #00000012;
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid rgba(0,0,0,.125);
	border-radius: .25rem;
}
.login-bg-main {
	background: url('../../../../assets/images/login-bg.jpg') no-repeat;
	background-size: cover;
	padding: 80px 0;
	height: 100vh;
}
.login-bg-main {
	h1 {
		font-size: 20px;
		color: #FA8060;
		text-align: center;
		margin-bottom: 30px;
		font-weight: 500;
	}
}
.login-container {
	button.btn.btn-lg.btn-primary.btn-block {
		background: #FA8060;
		border: none;
		width: 215px;
		margin: auto;
		margin-bottom: 20px;
	}
}
.btn {
	padding-left: 0.75rem;
	padding-right: 0.75rem;
}
.btn-block {
	display: block;
	width: 215px;
}
.btn-primary {
    background-color: #FA8060;
	border: none;
	width: 215px;
	margin: auto;
	margin-bottom: 20px;
}
.form-group.row label {
    color: #566A74;
    font-size: 15px;
}


@media (max-width: 767px) {
	.login-bg-main {
		padding: 30px 0;
		height: auto;
		min-height: 100vh;
	}
	.navbar-brand img {
		max-height: 50px;
	}
	.card.login-form {
		padding: 10px 15px;
		margin: 25px 0 0;
	}
	.form-group.row label.col-form-label {
		width: 100%;
		padding: 0;
		margin: 0 0 12px;
	}
	.form-group.row .col-9 {
		padding: 0;
		width: 100%;
	}
	.btn-primary {
		margin-bottom: 5px;
		width: 215px;
	}
	.form-group label.col-form-label {
		width: 100%;
	}
	.card.login-form .mat-form-field-wrapper {
		padding-bottom: 15px;
	}

}
