.image-foot {
    background-image: url(../../../../../assets/images/footer-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 210px;
    position: relative;
    bottom: 0;
}