.example-button-row[_ngcontent-sol-c423] {
    color: #3e5569;
    padding: 0px 20px 0px 10px!important;
    text-decoration: none;
    background: none;
    border: none;
    font-size: 16px;
    font-weight: 400;
}