<div class="container">
    <div>
        <div class="add-title">
            <h1 mat-dialog-title style="color: #FA8060;">
                {{'UpdatePassword'|translate}}
            </h1>
        </div>
        <div>

            <form [formGroup]="registerForm" (ngSubmit)="Save()">
                <mat-grid-list cols="1" rowHeight="95px">

                    <mat-grid-tile>
                        <div class="text-inside">
                            <mat-form-field>
                                <input type="password" placeholder="Password"  matInput formControlName="password" [ngClass]="{ 'is-invalid': f.password.touched && f.password.errors }" />
                                <div *ngIf="f.password.touched && f.password.errors" class="invalid-feedback">
                                    <div *ngIf="f.password.errors.required">{{'Passwordisrequired'|translate}}</div>
                                    <div *ngIf="f.password.errors.minlength">{{'Passwordmust'|translate}}</div>
                                </div>
                            </mat-form-field>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="text-inside">
                            <mat-form-field>
                                <input type="password" placeholder="{{'ConfirmPassword'|translate}}"  matInput formControlName="confirmPassword" [ngClass]="{ 'is-invalid': f.confirmPassword.touched && f.confirmPassword.errors }" />
                                <div *ngIf="f.confirmPassword.touched && f.confirmPassword.errors" class="invalid-feedback">
                                    <div *ngIf="f.confirmPassword.errors.required">{{'ConfirmPasswordisrequired'|translate}}</div>
                                    <div *ngIf="f.confirmPassword.errors.mustMatch">{{'Passwordsmustmatch'|translate}}</div>
                                </div>
                            </mat-form-field>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>

                <div class="btn-sec">
                    <button mat-raised-button type="submit" color="primary" class="Update-btn">{{'Update'|translate}}</button>
                    <button mat-raised-button type="button" class="Discard-btn" (click)="ModalClose()">{{'Cancel'|translate}}</button>
                </div>
            </form>
        </div>
    </div>