<div class="container p-0">
    <div>
        <div class="add-title">
            <h2 class="pop-up-title"><i class="fal fa-clipboard-user" aria-hidden="true"></i> <span *ngIf="!update">Add</span><span *ngIf="update">Update</span> Credential</h2>
        </div>
        <div class="angFormStyle remove_form_lab">
            <form [formGroup]="EmpForm" (ngSubmit)="Save()">
              <div class="addRecord_bx mb-3">
                <mat-grid-list cols="1" rowHeight="85px">
                  <mat-grid-tile>
                      <div class="text-inside dropdown_txt mat_form_fields">
                        <label class="form_label">Type</label>
                          <mat-form-field>
                              <mat-label>Choose a type</mat-label>
                            <mat-select matInput
                              (selectionChange)="onCustomCoursesFrequancyChange($event)" [(value)]="selected">
                              <mat-option *ngFor="let data of credentialsTypeList" [value]="data.value">
                                  {{data.text}}</mat-option>
                          </mat-select>
                              <mat-error *ngIf="f.credentialTypeID.touched && f.credentialTypeID.errors"
                                  class="invalid-feedback">
                                  <div *ngIf="f.credentialTypeID.errors.required"> Type is required</div>
                              </mat-error>
                          </mat-form-field>
                      </div>
                  </mat-grid-tile>
                  <mat-grid-tile>
                      <div class="text-inside mat_form_fields">
                        <label class="form_label">Date</label>
                          <mat-form-field>

                              <input class="form-control" type="date" placeholder="date" matInput formControlName="date"
                                  [ngClass]="{ 'is-invalid': f.date.touched && f.date.errors }" />
                          </mat-form-field>
                      </div>
                  </mat-grid-tile>

                  <mat-grid-tile>
                      <div class="text-inside mat_form_fields">
                        <label class="form_label">Document</label>
                          <mat-form-field>
                              <input class="form-control" type="text" placeholder="Document" matInput formControlName="name"
                                  [ngClass]="{ 'is-invalid': f.name.touched && f.name.errors }" />
                              <mat-error *ngIf="f.name.touched && f.name.errors" class="invalid-feedback">
                                  <div *ngIf="f.name.errors.required"> First Name is required</div>
                              </mat-error>
                          </mat-form-field>
                      </div>
                  </mat-grid-tile>

                  <mat-grid-tile>
                      <div class="text-inside mt-1 mb-3 mat_form_fields check_div">
                        <label class="form_label">Course Completed</label>
                          <mat-checkbox formControlName="amtCourseCompleted"></mat-checkbox>
                      </div>
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <div class="text-inside mat_form_fields">
                      <label class="form_label">Training Minutes</label>
                        <mat-form-field>
                            <input class="form-control" type="number" placeholder="Training Minutes" min="0" step="15" matInput
                                formControlName="amtTotalTrainingHours"
                                [ngClass]="{ 'is-invalid': f.amtTotalTrainingHours.touched && f.amtTotalTrainingHours.errors }" />
                        </mat-form-field>
                    </div>
                </mat-grid-tile>
                  <mat-grid-tile class="drag_drop_bx">
                    <div class="k-edit-label kEdit_label">
                      <div *ngFor="let item of documents">
                        <a class="file-icon" (click)="downloadCredential(item)"><i aria-hidden="true"
                            class="fa fa-file-pdf-o pdf"></i></a>
                        <!-- <a *ngIf="item" class="file-icon"(click)="removeCredential(item)"
                            ><i aria-hidden="true" class="far fa-times"></i
                          ></a> -->
                      </div>
                    </div>
                    <div *ngIf="allowAddDocuments" class="text-inside drag-drop mb-3">
                      <ngx-file-drag-drop #uploadDocument [formControl]="fileControl" activeBorderColor="#3F51B5"
                        accept=".pdf" (valueChanged)="onValueChange($any($event))">
                        Drag and drop your files directly here or click to upload.
                      </ngx-file-drag-drop>
                    </div>
                  </mat-grid-tile>
              </mat-grid-list>
              </div>

                <div class="btn-sec">
                    <button mat-raised-button type="submit" color="primary" class="Update-btn"><span *ngIf="!update">Add</span><span *ngIf="update">Update</span></button>
                    <button mat-raised-button type="button" class="Discard-btn" (click)="closeModal(null)">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
