<!-- Footer starts here -->

<div class="footer-row">
    <div class="col-md-3 footer-section-1">
        <ul>
            <li>
                <a routerLink="/landing/home" class="nav-link " (click)="scrollToTop()" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                    true}">
                    <span class="footer-text-color">Home</span>
                </a>
            </li>

            <li>
                <a routerLink="/landing/products/e-learning" class="nav-link" routerLinkActive="active" (click)="scrollToTop()" [routerLinkActiveOptions]="{exact:
                    true}">
                    <span class="footer-text-color">E-Learning</span>
                </a>
            </li>

            <li>
                <a routerLink="/landing/products/calibration" class="nav-link" routerLinkActive="active" (click)="scrollToTop()" [routerLinkActiveOptions]="{exact:
                    true}">
                    <span class="footer-text-color">Calibration</span>
                </a>
            </li>

            <li>
                <a routerLink="/landing/about" class="nav-link" routerLinkActive="active" (click)="scrollToTop()" [routerLinkActiveOptions]="{exact:
                    true}">
                    <span class="footer-text-color">About</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="col-md-4 footer-section-2">
        <ul>

            <li>
                <a routerLink="/landing/contact-us" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                    true}">
                    <span class="footer-text-color">Contact</span>
                </a>
            </li>

            <li>
                <a routerLink="/landing/termsofuse" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                    true}">
                    <span class="footer-text-color">Terms of Use</span>
                </a>
            </li>

            <li>
                <a routerLink="/landing/privacypolicy" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                    true}" >
                    <span class="footer-text-color">Privacy Policy</span>
                </a>
            </li>

        </ul>
    </div>

    <div class="col-md-5 footer-section-3">

    </div>
</div>