<div class="add-title">
  <h1 mat-dialog-title style="color: #fa8060">{{'Password'|translate}}</h1>
</div>
<div class="angFormStyle">
  <form class="form-signin" [formGroup]="resetpassword" (ngSubmit)="submit()">
    <div class="form-group row mobile_row_div">
      <mat-form-field>
        <label for="CurrentPassword" class="col-md-4 col-form-label">Current Password</label>
        <input class="form-control" type="password" matInput formControlName="currentPassword"
          [ngClass]="{ 'is-invalid': f.currentPassword.touched && f.currentPassword.errors }" />
        <mat-error *ngIf="f.currentPassword.touched && f.currentPassword.errors" class="invalid-feedback">
          <div *ngIf="f.currentPassword.errors.required">{{'Passwordisrequired'|translate}}</div>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-group row mobile_row_div">
      <mat-form-field>
        <label for="Password" class="col-md-4 col-form-label">Password</label>
        <input class="form-control" type="password" matInput formControlName="password"
          [ngClass]="{ 'is-invalid': f.password.touched && f.password.errors }" />
        <mat-error *ngIf="f.password.touched && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">{{'Passwordisrequired'|translate}}</div>
          <div *ngIf="f.password.errors.minlength">{{'Passwordmust'|translate}}</div>
        </mat-error>
      </mat-form-field>

    </div>
    <div class="form-group row mobile_row_div">
      <mat-form-field>
        <label for="ConfirmPassword" class="col-md-4 col-form-label">Password Confirmation</label>
        <input class="form-control" type="password" matInput formControlName="passwordConfirm"
          [ngClass]="{ 'is-invalid': f.passwordConfirm.touched && f.passwordConfirm.errors }" />
        <mat-error *ngIf="f.passwordConfirm.touched && f.passwordConfirm.errors" class="invalid-feedback">
          <div *ngIf="f.passwordConfirm.errors.required">{{'ConfirmPasswordisrequired'|translate}}</div>
          <div *ngIf="f.passwordConfirm.errors.mustMatch">{{'Passwordsmustmatch'|translate}}</div>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="btn-sec">
      <button mat-raised-button type="submit" color="primary"
        class="Update-btn"><span>{{'ChangePassword'|translate}}</span></button>
      <button mat-raised-button type="button" class="Discard-btn" (click)="closeModal()">Cancel</button>
    </div>
  </form>
</div>