<div class="container">
    <div class="row gap_10">
        <div class="col-md-4 col-xl-3">
            <app-side-bar></app-side-bar>
        </div>
        <div class="col-md-8 col-xl-9">
            <div class="card padd_15">
                <form class="contact-form invite" [formGroup]="form" (ngSubmit)="Save()">
                    <!-- <h4 class="card-title red-color empty-space">{{'TermsofUse'|translate}}</h4> -->
                    <div class="form-group mb-2">
                        <label for="title" class="control-label">{{'Title'|translate}}</label>
                        <div>
                            <input Class="form-control" style="background-color: #F7F8F9;" formControlName="title" [ngClass]="{ 'is-invalid': f.title.touched && f.title.errors }"
                            />
                            <div *ngIf="f.title.touched && f.title.errors" class="invalid-feedback">
                                <div *ngIf="f.title.errors.required"> {{'Titleisrequired'|translate}}</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group mb-2">
                        <label for="leftHeading" class="control-label">{{'Body'|translate}}</label>
                        <div class="editor_sec_div">
                            <angular-editor [placeholder]="'Enter text here...'" formControlName="htmlContent"></angular-editor>
                            <div *ngIf="f.htmlContent.touched && f.htmlContent.errors" class="invalid-feedback">
                                <div *ngIf="f.htmlContent.errors.required"> {{'BodyIsRequired'|translate}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row m-0 py-2">
                      <button Primary="true" class="custmBtns block h_50">{{'Save'|translate}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
